.job {
  margin-bottom: 20px;
  padding:15px 15px 0px 15px;
  border:1px solid #bfc1c3;
  background-color:#f8f8f8;
  box-sizing: border-box;
}

.job:last-child {
  margin-bottom: 0;
}

.float-right {
  float: right;
}

.spacing-bottom-third {
  margin-bottom: 20px;
}
