{% extends "layout.html" %}

{% block page_title %}
  Fill a vacancy - UJRP
{% endblock %}

{% block content %}


<main id="content" role="main">
	{% include "includes/phase_banner_alpha.html" %}

	<div class="grid-row">
		<div class="column-two-thirds">

			<div id="global-breadcrumb">
				<ol>
					<li><a href="/">Home</a></li>
					<li><a href="index">Fill a vacancy</a></li>
					<li>Upload a vacancy</li>
				</ol>
			</div>

			<h1 class="heading-large">
				Upload a vacancy
			</h1>

			<form class="form" action="review-job-single-form" method="POST">

				<div class="form-group">
			    <label class="form-label-bold" for="title">Job title</label>
					<input type="text" name="jobTitle" class="form-control form-control-2-3" id="title">
			  </div>

				<div class="form-group">
					<label class="form-label-bold" for="employerName">Employer name</label>
					<p class="form-hint">The name of your business</p>
					<input type="text" name="employerName" class="form-control form-control-2-3" id="employerName">
				</div>

				<div class="form-group">
					<label class="form-label-bold" for="employerContact">Contact details</label>
					<p class="form-hint">Your contact address, number or email</p>
					<input type="text" name="employerContact" class="form-control form-control-2-3" id="employerContact">
				</div>

				<div class="form-group">
					<label class="form-label-bold" for="jobLocation">Location</label>
					<p class="form-hint">The main postcode for this job</p>
					<input type="text" name="jobLocation" class="form-control form-control-1-4" id="jobLocation">
				</div>

				<div class="form-group">
					<label class="form-label-bold" for="baseSalary">Salary</label>
					<p class="form-hint">The amount you are going to pay someone</p>
					<input type="text" name="baseSalary" class="form-control form-control-2-3" id="baseSalary">
				</div>

				<div class="form-group">
					<label class="form-label-bold" for="jobBenefits">Job benefits</label>
					<p class="form-hint">Description of benefits associated with this job</p>
					<input type="text" name="jobBenefits" class="form-control form-control-2-3" id="jobBenefits">
				</div>

				<div class="form-group">
			    <fieldset class="inline" id="employmentType">
			      <legend class="form-label-bold">Type of employment</legend>
			      <label class="block-label" for="employmentTypePermanent">
			        <input id="employmentTypePermanent" type="radio" name="employmentType" value="Permanent">
			        Permanent
			      </label>
			      <label class="block-label" for="employmentTypeTemporary">
			        <input id="employmentTypeTemporary" type="radio" name="employmentType" value="Temporary">
			        Temporary
			      </label>
						<label class="block-label" for="employmentTypeContract">
			        <input id="employmentTypeContract" type="radio" name="employmentType" value="Contract">
			        Contract
			      </label>
						<label class="block-label" for="employmentTypeSeasonal">
			        <input id="employmentTypeSeasonal" type="radio" name="employmentType" value="Seasonal (Part year)">
			        Seasonal (Part year)
			      </label>
						<label class="block-label" for="employmentTypeZero">
			        <input id="employmentTypeZero" type="radio" name="employmentType" value="Zero hours">
			        Zero hours
			      </label>
			    </fieldset>
			  </div>

				<div class="form-group">
					<label class="form-label-bold" for="workHours">Hours</label>
					<p class="form-hint">Total working weekly hours excluding breaks</p>
					<input type="text" name="workHours" class="form-control form-control-1-8" id="workHours">
				</div>

				<div class="form-group">
					<label class="form-label-bold" for="workPattern">Working pattern</label>
					<p class="form-hint">For example, evenings or 11am-3pm</p>
					<input type="text" name="workPattern" class="form-control form-control-2-3" id="workPattern">
				</div>

				<div class="form-group">
					<label class="form-label-bold" for="jobTasks">Responsibilities</label>
					<p class="form-hint">The typical tasks associated with this role</p>
				<!-- 	<textarea name="responsibilities" class="form-control form-control-2-3" id="responsibilities" rows="4"></textarea>
				</div> -->
				<input type="text" class="tag-value form-control form-control-2-3" id="jobTasks" name="jobTasks">
					<input type="text" class="tag-value form-control form-control-2-3" name="jobTasks">
					<input type="text" class="tag-value form-control form-control-2-3" name="jobTasks">
				</div>

				<div class="form-group">
					<label class="form-label-bold" for="skills">Skills</label>
					<p class="form-hint">The skills required for this role</p>
					<input type="text" class="tag-value form-control form-control-2-3" name="skills" id="skills">
					<input type="text" class="tag-value form-control form-control-2-3" name="skills">
					<input type="text" class="tag-value form-control form-control-2-3" name="skills">
				</div>

				<div class="form-group">
					<label class="form-label-bold" for="filterQuestions">Filter questions</label>
					<p class="form-hint">Applicants must answer 'Yes' to these questions before they can apply</p>
					<input type="text" class="tag-value form-control form-control-2-3" name="filterQuestions" id="filterQuestions">
					<input type="text" class="tag-value form-control form-control-2-3" name="filterQuestions">
					<input type="text" class="tag-value form-control form-control-2-3" name="filterQuestions">
				</div>

				<div class="form-group">
					<label class="form-label-bold" for="applicationLimit">Number of posts</label>
					<p class="form-hint">Specify if there is more than one post available for this job</p>
					<input type="text" name="applicationLimit" class="form-control form-control-1-8" id="applicationLimit">
				</div>

				<div class="form-group">
					<fieldset>
						<label class="form-label-bold" for="dateClosing">Closing date</label>
						<div class="form-date">

							<p class="form-hint">For example, 31 3 2016</p>

							<div class="form-group form-group-day">
								<label for="dateDay">Day</label>
								<input name="dateDay" class="form-control" id="dateDay" type="number" pattern="[0-9]*">
							</div>

							<div class="form-group form-group-month">
								<label for="dateMonth">Month</label>
								<input name="dateMonth" class="form-control" id="dateMonth" type="number" pattern="[0-9]*">
							</div>

							<div class="form-group form-group-year">
								<label for="dateYear">Year</label>
								<input name="dateYear" class="form-control" id="dateYear" type="number" pattern="[0-9]*">
							</div>

						</div>
					</fieldset>
				</div>

				<div class="form-group">
					<label class="form-label-bold" for="applicationInstructions">How to apply</label>
					<p class="form-hint">Detail what the applicant must do next to apply</p>
					<textarea name="applicationInstructions" class="form-control form-control-2-3" id="applicationInstructions" rows="4"></textarea>
				</div>

				<div class="form-group">
					<label class="form-label-bold" for="additionalInformation">Anything else?</label>
					<textarea class="form-control form-control-2-3" id="additionalInformation" name="additionalInformation" rows="4"></textarea>
				</div>

				<div class="form-group">
					<input type="submit" name="additionalInformationButton" class="button" value="Submit">
				</div>

			</form>

		</div>
	</div>

</main>

{% endblock %}
