{% extends "layout.html" %}

{% block page_title %}
  Fill a vacancy - UJRP
{% endblock %}

{% block content %}
<main id="content" role="main">
	{% include "includes/phase_banner_alpha.html" %}

	<div class="breadcrumbs">
		<ol role="breadcrumbs">
			<li><a href="/">Home</a></li>
			<li>Fill a vacancy</li>
		</ol>
	</div>

	<div class="grid-row">
    <div class="column-two-thirds">

			<h1 class="heading-xlarge">
				Fill a vacancy
			</h1>

			<p>Use this service to:</p>

			<ul class="list-bullet">
				<li>upload a vacancy</li>
				<li>receive applications from claimants of Universal Credit</li>
				<li>book interview facilities</li>
				<li>connect with your local employer advisor.</li>
			</ul>

			<h2 class="heading-medium">Before you start</h2>

      <p>You need to have an existing relationship with your local Jobcentre Plus and an Employer ID to use this service.</p>

			<p>
				<a class="button button-start" href="question-1" role="button">Start now</a>
				<br>
				<span class="font-xsmall">and upload a vacancy</span>
			</p>

		</div>
  </div>

</main>

{% endblock %}
