{% extends "layout.html" %}

{% block page_title %}
  Fill a vacancy - UJRP
{% endblock %}

{% block content %}


<main id="content" role="main">
	{% include "includes/phase_banner_alpha.html" %}

	<div class="grid-row">
		<div class="column-two-thirds">

			<a class="link-back" href="question-8">Back</a>

			<h1 class="heading-large">
				Closing date
			</h1>

			<form class="form" action="review-job" method="">

        <div class="form-group">
					<fieldset>
						<label class="visuallyhidden" for="dateClosing">Closing date</label>
						<div class="form-date">

							<p class="form-hint">For example, 31 3 2016</p>

							<div class="form-group form-group-day">
								<label for="dateDay">Day</label>
								<input name="dateDay" class="form-control" id="dateDay" type="number" pattern="[0-9]*">
							</div>

							<div class="form-group form-group-month">
								<label for="dateMonth">Month</label>
								<input name="dateMonth" class="form-control" id="dateMonth" type="number" pattern="[0-9]*">
							</div>

							<div class="form-group form-group-year">
								<label for="dateYear">Year</label>
								<input name="dateYear" class="form-control" id="dateYear" type="number" pattern="[0-9]*">
							</div>

						</div>

					</fieldset>
				</div>

				<div class="form-group">
					<input type="submit" class="button" value="Continue">
				</div>

			</form>

		</div>
	</div>

</main>

{% endblock %}
