{% extends "layout.html" %}

{% block page_title %}
  Find Work - UJRP
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}

  <div class="breadcrumbs">
    <ol role="breadcrumbs">
      <li><a href="/">Home</a></li>
      <li>Find Work</li>
    </ol>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

  		<h1 class="heading-xlarge">
  			Find work
  		</h1>

  		<p>Use this service to:</p>

  		<ul class="list-bullet">
  			<li>search for jobs</li>
  			<li>apply for jobs</li>
  			<li>evidence work search activity.</li>
  		</ul>

  		<h2 class="heading-medium">Before you start</h2>

      <p>You need to register and claim either Universal Credit or Jobseekers Allowance to use this service.</p>

  		<p>
  			<a class="button button-start" href="/find-work/search" role="button">Start now</a>
  		</p>

  	</div>
  </div>

</main>

{% endblock %}
