{% extends "layout.html" %}

{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="/find-work/results">Back</a>

      <h1 class="heading-large">{{job.jobTitle}}</h1>

      <p class="lede">at <span class="bold-medium">{{job.companyName}}</span><br>
      <span class="font-xsmall">Closing date: 28/2/2016 | Number of posts: 8</span>
      </p>

      <div class="column-half">
        <div id="map" style="width:100%;height:160px"></div>
      </div>

      <div class="column-half">
        <p class="bold-small">Get time to travel</p>
        <p class="bold-small">
          <div id="response"></div>
        </p>
      </div>

      <table>
        <tbody>
          <tr>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Salary</td>
            <td class="bold-small">&pound;{{job.minSalary}}</td>
          </tr>
          <tr>
            <td>Weekly hours</td>
            <td class="bold-small">35</td>
          </tr>
          <tr>
            <td>Working pattern</td>
            <td class="bold-small">9:00-17:00</td>
          </tr>
          <tr>
            <td>Type of employment</td>
            <td class="bold-small">Permanent</td>
          </tr>
        </tbody>
      </table>

      <h2 class="heading-medium">Everyday tasks</h2>

      <p>{{job.description}}</p>

      <h2 class="heading-medium">Essential skills and qualities</h2>

      <ul class="list-bullet">
        <li>Problem solving</li>
        <li>Communication</li>
      </ul>

      <h2 class="heading-medium">Before you apply</h2>

      <form class="form-group">
        <fieldset>

          <legend class="">Do you hold a full valid driving license?</legend>

          <label class="block-label" for="answer-yes" data-target="apply-now">
            <input type="radio" name="answer-group" value="Yes" id="answer-yes">
            Yes
          </label>

          <div class="panel-indent js-hidden" id="apply-now">
            <div class="form-group">
              <label class="form-label-bold" for="whyApply">Why do you want to apply for this role?</label>
              <textarea class="form-control form-control-2-3" name="whyApply" id="whyApply" rows="4"></textarea>
            </div>

            <div class="form-group">
              <label class="form-label-bold" for="fullName">Full name</label>
              <input type="text" name="fullName" class="form-control form-control-2-3" id="fullName">
            </div>

            <div class="form-group">
              <label class="form-label-bold" for="contactNumber">Contact telephone number</label>
              <input type="text" name="contactNumber" class="form-control form-control-2-3" id="contactNumber">
            </div>

            <div class="form-group">
              <label class="form-label-bold" for="contactEmail">Email address</label>
              <input type="text" name="contactEmail" class="form-control form-control-2-3" id="contactEmail">
            </div>

            <div>
              <a class="button button-start" href="confirmation">Apply now</a>
            </div>
          </div>

          <label class="block-label" for="answer-no" data-target="criteria-not-met">
            <input type="radio" name="answer-group" value="No" id="answer-no">
            No
          </label>

          <div class="panel-indent js-hidden" id="criteria-not-met">
            <p>You do not meet the criteria to apply for this job. Please speak to your work coach for more information.</p>
          </div>

        </fieldset>
      </form>

    </div>

    <div class="column-third"></div>
  </div>

</main>
{% endblock %}

{% block body_end %}
{% include "includes/scripts.html" %}

<script>
	var userLocation = 'Leeds, United Kingdom';
	var jobLocation = '{{job.jobLocation}}';
</script>
<script src="/public/javascripts/travel-map.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAW0Ohl8tjseWY_hYLUs-3itKSZ055yTJQ&callback=initMap" async defer></script>
{% endblock %}
