{% extends "layout.html" %}

{% block page_title %}
  Find Work - UJRP
{% endblock %}

{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <form action="/find-work/results" class="form"  method="get">

        <h1 class="heading-large">
          Where are you searching for work?
        </h1>

        <div class="form-group">
          <fieldset>

            <legend class="visuallyhidden">
              Where are you searching for work?
            </legend>

            <label class="block-label" for="radio-home-address" >
              <input id="radio-home-address" type="radio" name="radio-indent-group" value="Yes">
              Current location
            </label>

            <label class="block-label" for="radio-other-address" data-target="example-other-address">
              <input id="radio-other-address" type="radio" name="radio-indent-group" value="No">
              Other location
            </label>

            <div class="panel panel-border-narrow js-hidden" id="example-other-address">

              <h2 class="heading-medium">
                Search other location
              </h2>

              <fieldset>

                <legend class="visuallyhidden">
                  Search other location
                </legend>

                <div class="form-group">
                  <label for="location" class="form-label-bold">Location</label>
                  <p class="form-hint">Town/City, Postcode or Area</p>
                  <input type="text" name="location" class="form-control form-control-2-3" id="location">
                </div>

              </fieldset>

            </div>
          </fieldset>
        </div>

        <h1 class="heading-large">
          What work can you do?
        </h1>

        <div class="form-group">
          <label for="keyword" class="form-label-bold">Enter three different jobs</label>
          <p class="form-hint">e.g. Warehouse Manager, Admin Assistant, Front-end Developer</p>
          <input type="text" name="keyword" class="form-control form-control-2-3" id="keyword">
          <input type="text" name="keyword" class="form-control form-control-2-3" id="keyword">
          <input type="text" name="keyword" class="form-control form-control-2-3" id="keyword">
        </div>

        <input type="submit" class="button" value="Search" >

      </form>
    </div>
  </div>

</main>
{% endblock %}

{% block body_end %}
  {% include "includes/scripts.html" %}
  <script src="/public/javascripts/search-page.js"></script>
{% endblock %}
