{% extends "layout.html" %}

{% block page_title %}
  UJRP
{% endblock %}

{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

			<h1 class="heading-large">
				UJRP Alpha Prototypes
			</h1>

			<hr>

      <h2 class="heading-large">Find and apply for work</h2>

			<p>Help to find and apply for vacanies in your area.</p>

			<div class="form-group">
				<a class="button" href="/find-work/">Launch prototype</a>
			</div>

      <h2 class="heading-large">Fill a vacancy</h2>

			<p>Post a job to the jobcentre.</p>

			<div class="form-group">
				<a class="button" href="/fill-a-vacancy/">Launch prototype</a>
			</div>

    </div>
  </div>
</main>

{% endblock %}
